{% extends 'base.html' %}


{% load static %}

{% block bannier %}
  <div class="main-banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="top-text header-text">
            <h6>Centre D'archive De patrimoine public de likasi</h6>
            <h2>Page de contact</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block addition_style %}
    <link rel="stylesheet" href="{% static 'css/contact_style.css' %}">
{% endblock %}


{% block main_content %}
    <div class="py-5 team4">
        <div class="container">
        <div class="row justify-content-center mb-4">
          <div class="col-md-7 text-center">
            <h3 class="mb-3">Ici tu dois mettre un titre jenovic</h3>
            <h6 class="subtitle">Puis une petite description pour faire coooooooooooooooooooooooooool</h6>
          </div>
        </div>
        <div class="row">
          <!-- column  -->
          <div class="col-lg-3 mb-4">
            <!-- Row -->
            <div class="row">
              <div class="col-md-12">
                <img src="{% static 'images/contact_image/imag1.jpg' %}" alt="wrapkit" class="img-fluid rounded-circle myimage" />
              </div>
              <div class="col-md-12 text-center">
                <div class="pt-2">
                  <h5 class="mt-4 font-weight-medium mb-0">Grace Twite Kalenga</h5>
                  <h6 class="subtitle mb-3">Concepteur</h6>
                  <p>Doctorant a l'universite de lubum.</p>
                  <ul class="list-inline">
                    <li class="list-inline-item"><a href="https://wa.me/243" class="text-decoration-none d-block px-1"><i class="icon-social-whatsapp"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-instagram"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- Row -->
          </div>
          <!-- column  -->
          <!-- column  -->
          <div class="col-lg-3 mb-4">
            <!-- Row -->
            <div class="row">
              <div class="col-md-12">
                <img src="{% static 'images/contact_image/imag1.jpg' %}" alt="wrapkit" class="img-fluid rounded-circle myimage" />
              </div>
              <div class="col-md-12 text-center">
                <div class="pt-2">
                  <h5 class="mt-4 font-weight-medium mb-0">Grace Twite Kalenga</h5>
                  <h6 class="subtitle mb-3">Concepteur</h6>
                  <p>Doctorant a l'universite de lubum.</p>
                  <ul class="list-inline">
                    <li class="list-inline-item"><a href="https://wa.me/243" class="text-decoration-none d-block px-1"><i class="icon-social-whatsapp"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-instagram"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- Row -->
          </div>
          <!-- column  -->
          <!-- column  -->
          <div class="col-lg-3 mb-4">
            <!-- Row -->
            <div class="row">
              <div class="col-md-12">
                <img src="{% static 'images/contact_image/imag1.jpg' %}" alt="wrapkit" class="img-fluid rounded-circle myimage" />
              </div>
              <div class="col-md-12 text-center">
                <div class="pt-2">
                  <h5 class="mt-4 font-weight-medium mb-0">Grace Twite Kalenga</h5>
                  <h6 class="subtitle mb-3">Concepteur</h6>
                  <p>Doctorant a l'universite de lubum.</p>
                  <ul class="list-inline">
                    <li class="list-inline-item"><a href="https://wa.me/243" class="text-decoration-none d-block px-1"><i class="icon-social-whatsapp"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-instagram"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- Row -->
          </div>
          <!-- column  -->
          <!-- column  -->
          <div class="col-lg-3 mb-4">
            <!-- Row -->
            <div class="row">
              <div class="col-md-12">
                <img src="{% static 'images/contact_image/imag1.jpg' %}" alt="wrapkit" class="img-fluid rounded-circle myimage" />
              </div>
              <div class="col-md-12 text-center">
                <div class="pt-2">
                  <h5 class="mt-4 font-weight-medium mb-0">Grace Twite Kalenga</h5>
                  <h6 class="subtitle mb-3">Concepteur</h6>
                  <p>Doctorant a l'universite de lubum.</p>
                  <ul class="list-inline">
                    <li class="list-inline-item"><a href="https://wa.me/243" class="text-decoration-none d-block px-1"><i class="fa fa-whatsapp"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="fa fa-instagram"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- Row -->
          </div>
        </div>
        </div>
    </div>
{% endblock %}


