{% extends 'base.html' %}


{% load static %}

{% block bannier %}
  <div class="main-banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="top-text header-text">
            <h6>Centre D'archive De patrimoine public de likasi</h6>
            <h2>Contactez notre équipe</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block addition_style %}
    <link rel="stylesheet" href="{% static 'css/contact_style.css' %}">
{% endblock %}


{% block main_content %}
    <div class="py-5 team4">
        <div class="container">
        <div class="row justify-content-center mb-4">
          <div class="col-md-7 text-center">
            <h3 class="mb-3">Qui sommes-nous ?</h3>
            <h6 class="subtitle">Nous sommes ravis de vous présenter l'équipe dévouée qui a contribué à la création de notre site d'archivage numérique. Chacun de nos membres a apporté ses compétences uniques et son expertise pour réaliser ce projet ambitieux.</h6>
          </div>
        </div>
        <div class="row justify-content-center md-1">
          <!-- column  -->
          <div class="col-lg-3 mb-4">
            <!-- Row -->
            <div class="row">
              <div class="col-md-12">
                <img src="{% static 'images/contact_image/imag1.jpg' %}" width = "250px" height=250px alt="wrapkit" class="img-fluid rounded-circle myimage" />
              </div>
              <div class="col-md-12 text-center">
                <div class="pt-2">
                  <h5 class="mt-4 font-weight-medium mb-0">Grace Twite Kalenga</h5>
                  <h6 class="subtitle mb-3">Professeur</h6>
                  <p>Doctorant à l'université de Lubumbashi, Master en Sciences de l'ingénieur, option électronique Informatique, Ingénieur en Génie électrique et formateur en Electronique, Informatique, intelligence artificielle. Université de Lubumbashi</p>
                  <ul class="list-inline">
                      <li class="list-inline-item"><a href="https://wa.me/243" class="text-decoration-none d-block px-1"><i class="fa fa-whatsapp"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="fa fa-instagram"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- Row -->
          </div>
          <!-- column  -->
          <!-- column  -->
          <div class="col-lg-3 mb-4">
            <!-- Row -->
            <div class="row">
              <div class="col-md-12">
                <img src="{% static 'images/contact_image/imag2.jpg' %}" height=500px alt="wrapkit" class="img-fluid rounded-circle myimage" />
              </div>
              <div class="col-md-12 text-center">
                <div class="pt-2">
                  <h5 class="mt-4 font-weight-medium mb-0">Yannick SIKUZAN</h5>
                  <h6 class="subtitle mb-3">Professeur</h6>
                  <p> Docteur en Sciences agronomiques et spécialiste en questions liées à l’écologie du paysage urbain. Membre de l'Académie Royale des Sciences d'Outre-Mer, Doyen de la Faculté d'Architecture.</p>
                  <ul class="list-inline">
                    <li class="list-inline-item"><a href="https://wa.me/243" class="text-decoration-none d-block px-1"><i class="fa fa-whatsapp"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="fa fa-instagram"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- Row -->
          </div>
          <!-- column  -->
          <!-- column  -->
          <div class="col-lg-3 mb-4">
            <!-- Row -->
            <div class="row">
              <div class="col-md-12">
                <img src="{% static 'images/contact_image/imag3.jpg' %}" width = "500px" height=500px alt="wrapkit" class="img-fluid rounded-circle myimage" />
              </div>
              <div class="col-md-12 text-center">
                <div class="pt-2">
                  <h5 class="mt-4 font-weight-medium mb-0">lorence KAMPEMBA MUJINGA</h5>
                  <h6 class="subtitle mb-3">Professeur</h6>
                  <p>Docteur en Sciences Agronomiques, Faculté de sciencesAgronomiques. Vice-Doyenne en charge du tutorat à la faculté d'Architecture. spécialiste en alimentation des animaux.</p>
                  <ul class="list-inline">
                    <li class="list-inline-item"><a href="https://wa.me/243" class="text-decoration-none d-block px-1"><i class="fa fa-whatsapp"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="fa fa-instagram"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- Row -->
          </div>
          <!-- column  -->
          <!-- column  -->
        </div>
        </div>
    </div>
{% endblock %}


