{% load static %}

<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/c/CodingLabYT-->
<html lang="fr" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Connexion</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img src="{% static 'bienvenue_likasi.jpg' %}" alt="welcome">
        <div class="text">
          <span class="text-1">Bienvenue au caplikasi  <br> Centre D'archive De patrimoine public de likasi</span>
          <span class="text-2">Connectez-vous pour aller plus loin</span>
        </div>
      </div>
    </div>
    <div class="forms">
        <div class="form-content">
          <div class="login-form">
            <div class="title">Connexion</div>
          <form action="{% url 'main_app:login_client' %}" method="post">
             {% csrf_token %}
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-user"></i>
                {{ form.username }}
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                {{ form.password }}
              </div>
             {% if errors %}
             <div class="text"><i style="color: #8e0808; font-weight: bold">{{ errors }}</i></div>
              {% endif %}
              <div class="button input-box">
                <input type="submit" value="Envoyez">
              </div>
              <div class="text sign-up-text">vous n'avez pas encore de compte ? <a href="{% url 'main_app:register_client' %}">Enregistrez-vous</a></div>
            </div>
        </form>
      </div>
    </div>
    </div>
  </div>
</body>
</html>
