
{% extends 'base.html' %}

{% load static %}

{% block bannier %}

  <div class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="top-text header-text">
            <h6>Le resultat de recherche </h6>
            <h2>Vos resultat s'affiche ici</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block main_content %}

    <div class="listing-page">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="naccs">
            <div class="grid">
              <div class="row">
                <div class="col-lg-3">
                  <div class="menu">
                    <div class="first-thumb active">
                      <div class="thumb">
                        <span class="icon"><img src="{% static 'images/listing-icon-heading.png' %}" alt=""></span>
                        Resultat
                      </div>
                    </div>

                  </div>
                </div> 
                <div class="col-lg-9">
                  <ul class="nacc">
                   {% for archive in archives %}
                  <!-- first category listing of items -->
                    <li class="active">
                      <div>
                        <div class="col-lg-12">
                          <div class="owl-carousel owl-listing">
                                {% include 'archive_card.html' %}
                          </div>
                        </div>
                      </div>
                    </li>
                  {% endfor %}
                  </ul>
                  
                </div>          
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    
{% endblock %}